.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: center; */
  /* justify-content: space-between; */
}

.display {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(212, 212, 212);
  font-size: 30px;
}

.row1 {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  /* background-color: rgb(212, 212, 212); */
  font-size: 30px;
}

.row2 {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(212, 212, 212);
  font-size: 30px;
}

.row3 {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  /* background-color: rgb(212, 212, 212); */
  font-size: 30px;
}

.row4 {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(212, 212, 212);
  font-size: 30px;
}

.row5 {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  /* background-color: rgb(212, 212, 212); */
  font-size: 30px;
}

.column {
  width: 25%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}

.column0 {
  width: 50%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}